* {
    margin-left: 45px;
    margin-top: 50px;
}

.back-btn {
    position: fixed;
    bottom: 460px;
    right: 1000px;
    left: 100px;
}

img {
    margin-top: 0px;
    width: 128px;
}

h4 {
    padding-top: 23px;
}

table {
    box-sizing: border-box;
    display: inline-block;
    width: 500px;
    border: 1px solid #CCC;
    padding: 30px 20px;
    border: 1px solid #AAA;
    margin-left: 50px;
}

.logo {
    margin-left: 0px;
}